netcdf4
pooch
h5py
xarray
numpy
pandas  
scipy 
tqdm
gsw
matplotlib
cartopy
cmocean 
jupyterlab
pytest
pytest-cov
nbsphinx
nbconvert
sphinx
sphinx-rtd-theme
pypandoc
myst-nb
importlib_resources
scikit-learn
